.footer {
  padding: 50px 0 25px;
  border-top: 1px solid var(--border);
  background: #080d1870;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding-bottom: 35px;
}
.footer-brand {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer-brand strong {
  font-size: 0.85rem;
  font-family: var(--heading);
  font-weight: 500;
}
.footer-brand p {
  font-size: 0.75rem;
  margin-top: 3px;
}
.footer-main nav {
  display: flex;
  gap: 20px;
  font-size: 0.75rem;
  color: #9aa4b9;
}
.footer-main nav a:hover {
  color: var(--purple);
}
.footer-social > span {
  display: block;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
  color: #8e99ae;
  margin-bottom: 9px;
}
.footer-social .icon-button {
  width: 30px;
  height: 30px;
  border-radius: 6px;
}
.footer-social .icon-button svg {
  width: 14px;
  height: 14px;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  border-top: 1px solid #8094f011;
  padding-top: 23px;
  font-size: 0.75rem;
  color: #6f7b91;
}
.footer-bottom i {
  font-style: normal;
  color: #9880bb;
  padding: 0 4px;
}
@media (max-width: 1023px) {
  .footer-main {
    flex-wrap: wrap;
  }
  .footer-main nav {
    margin-left: auto;
  }
  .footer-social {
    display: none;
  }
}
@media (max-width: 650px) {
  .footer-main {
    align-items: start;
    flex-direction: column;
    gap: 25px;
  }
  .footer-main nav {
    margin: 0;
    gap: 25px;
  }
  .footer-main nav a {
    padding: 8px 0;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 10px;
    font-size: 0.75rem;
  }
  .footer-brand p {
    font-size: 0.75rem;
  }
  .footer-brand .logo {
    font-size: 2rem;
  }
}
